<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Елизавета Артемченко. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <style>
    .error {
        color: #dc3545;
        font-size: 0.875rem;
        margin-top: 0.25rem;
        display: block;
    }
    </style>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    
    <main>
        <a href="/">Главная</a>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Елизавета Артемченко, ФБИ-33, 3 курс, 2025
    </footer>
</body>
</html>
